/* Fondo semitransparente detrás del offcanvas */
.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4) !important; /* negro semi-transparente */
  z-index: 1040; /* menor que el offcanvas */
  display: none; /* por defecto oculto */
}

/* Mostrar el backdrop cuando el offcanvas está abierto */
.offcanvas.show + .offcanvas-backdrop {
  display: block;
}

.offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  height: 100vh;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1045;
}

.offcanvas.show { transform: translateX(0); }

.btn-close { cursor: pointer; }

.linkVertical{
  color: rgb(83, 83, 83) !important;
  /* margin-left: 15px;
  margin-top: 15px; */
  padding: 5px;
  border-top: 1px solid transparent ;
  border-bottom: 2px solid transparent ;
}

.linkVertical:hover{
  background-color: rgb(248, 248, 248);
  border-top: 1px solid ;
  border-bottom: 2px solid ;
  border-color: rgb(8, 88, 149);
}

