:root{
     /*--primary:#006ea4;  ACTUAL */
   /* --primary:#0f4c81;*/
    /*--secondary:#1cc8a0;*/
   /* --secondary:#3cacf1; ACTUAL*/
    --accent:#facc15;
    --bg:#f4f7fb;
    --dark:#0f172a;
    --muted:#64748b;
    --green: #15a7cc;
    --blue: #003e9a;

    --primary:#46d8f2; 

    --secondary:#1f9db6;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:var(--bg);
    color:var(--dark);
}

/* NAV */
header{
    position:fixed;
    top:0;
    width:100%;
    backdrop-filter:blur(10px);
    background:rgba(255,255,255,.85);
    z-index:1000;
    border-bottom:1px solid #e5e7eb;
}

.nav{
    max-width:1480px;
    margin:auto;
    padding:16px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:22px;
    font-weight:700;
    color:var(--primary);
}
.logo span{color:var(--secondary);}

nav a{
    margin-left:20px;
    text-decoration:none;
    color:var(--dark);
    font-weight:500;
}

.cta, .boton, .botonCancelar{
    background:linear-gradient(135deg,var(--primary),var(--secondary));
    color:white;
    padding:10px 20px;
    border-radius:10px;
    border: none;
}

.botonCancelar{
    background:linear-gradient(135deg,var(--green));
    border-radius:10px;
}

.cta:hover, .boton:hover{
    color:white;
    background:linear-gradient(135deg,var(--secondary),var(--green));
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.botonCancelar{
    background: #e1e1e1;
    color: #ff4400;
}

.botonCancelar:hover{
    background: #e4e4e4;
    color: #ff0000;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.toast-container {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1200;
}
/* HERO */
.hero{
    padding:160px 20px 120px;
    background:
        radial-gradient(circle at top right,#76abc7,transparent 40%),
         radial-gradient(circle at bottom left,#9ab5c4,transparent 40%),
      rgb(255, 255, 255);
    /* background:
        radial-gradient(circle at top right,#c7f9cc,transparent 40%),
         radial-gradient(circle at bottom left,#bae6fd,transparent 40%),
      white; */
}

.hero-grid{
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:1.2fr 1fr;
    gap:60px;
    align-items:center;
}

.hero h1{
    font-size:48px;
    line-height:1.2;
    margin-bottom:20px;
}

.hero p{
    font-size:18px;
    color:var(--muted);
    margin-bottom:35px;
}

.hero-actions a{
    margin-right:15px;
    text-decoration:none;
    padding:14px 28px;
    border-radius:30px;
    font-weight:500;
}

.btn-primary{
    background:var(--primary);
    color:white;
}

.btn-outline{
    border:2px solid var(--primary);
    color:var(--primary);
}

.hero img{
    width:100%;
    animation:float 5s ease-in-out infinite;
}


@keyframes float{
    0%{transform:translateY(0)}
    50%{transform:translateY(-12px)}
    100%{transform:translateY(0)}
}

/* SECTIONS */
section{
    padding:100px 20px;
}

.container{
    max-width:1200px;
    margin:auto;
}

h2{
    text-align:center;
    font-size:36px;
    margin-bottom:60px;
}


/* HOW IT WORKS */
.steps{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
}

.step{
    padding:30px;
    border-left:4px solid var(--secondary);
    background:white;
    border-radius:12px;
}

.step span{
    font-size:36px;
    font-weight:700;
    color:var(--secondary);
}

/* STATS */
.stats{
    background:linear-gradient(135deg,var(--primary),#0a2540);
    color:white;
}

.stats-grid{
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:40px;
    text-align:center;
}

.stat h3{
    font-size:42px;
    color:var(--accent);
}

/* CONTACT */
.contact{
    background:white;
}

form{
    max-width:500px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

input,textarea{
    padding:15px;
    border-radius:10px;
    border:1px solid #cbd5f5;
}

button{
    background:var(--secondary);
    color:white;
    border:none;
    padding:15px;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
}

/* FOOTER */
footer{
    background:#020617;
    color:#94a3b8;
    text-align:center;
    padding:30px;
}

/* ANIMATIONS */
.reveal{
    opacity:0;
    transform:translateY(40px);
    transition:1s;
}

.reveal.show{
    opacity:1;
    transform:none;
}

@media(max-width:900px){
    .hero-grid{grid-template-columns:1fr;}
    .hero h1{font-size:38px;}
}

.contenedor{
    margin-top: 60px;
    width: 100%;

    background-color: #ffffff;
    padding: 30px;
    min-height: calc(100vh - 140px);
}

.contenedor2{
    /*margin-top: 5px;*/
    width: 100%;
    height: calc(auto - 120px);
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 80px 30px;
    border:#e7e7e7 solid 1px;
    border-radius: 5px;
}